services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4001:4001"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
      - KAFKA_BROKER=kafka:9092  # This matches Kafka's advertised listener
      # - DATABASE_URL=mongodb://admin:Rishabh1234%25@213.210.36.87:27017/gauraaj?authSource=admin
      - DATABASE_URL=mongodb://host.docker.internal:27017/gauraaj
      - PORT=4001
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
      - kafka
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

volumes:
  redis-data:

networks:
  app-network:
    driver: bridge